*{
    font-family: 'Nunito', sans-serif;
}
h1,h3 {
    color: #0d6efd  ;
}

header{
    padding: 24px;
}
.center{
    display: flex;
    justify-content: center;
}
.box{
    width: 80%;
}
.date{
    text-align: center;
}

.eye{
    position: relative;
    left:-60px;
    z-index: 15;
    top: 2px;
    cursor: pointer;
}
.eye:hover{
    color: #0d6efd
}

.show{
    position: absolute;
    top:158px;
    right:50px;
    z-index: 15;
    color: #0d6efd;
    cursor: pointer;
}
.show:hover{
    color: black;
}
.check{
    color: green;
}
.ishidden {
    display: none;
    visibility: hidden;
}

.isvisible {
    display: initial;
    visibility: visible;
}